version: "3.4"

x-logging: &default-logging
    driver: "json-file"
    options:
        max-size: "500k"
        max-file: "10"

services:
  netdata:
    image: netdata/netdata:v{{ netdata_version }}
    restart: unless-stopped
    expose:
      - 19999
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    networks:
      - internal
    environment:
      - PGID={{ docker_group_id }}
    volumes:
      - /:/host:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - ./netdata.conf:/etc/netdata/netdata.conf
      - ./stream.conf:/etc/netdata/stream.conf
  web:
    image: ninech/reverse-proxy
    restart: unless-stopped
    expose:
      - 8080
    labels:
      - "traefik.backend={{ netdata_name }}-netdata"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:{{ netdata_domain }}"
      - "traefik.enable=true"
      - "traefik.port=8080"
    networks:
      - web
      - internal
    environment:
      - OIDC_ENABLED=1
      - OIDC_PROVIDER_METADATA_URL={{ oidc_provider_discovery_url }}
      - OIDC_CLIENT_ID={{ oidc_client_id }}
      - OIDC_CLIENT_SECRET={{ oidc_client_secret }}
      - OIDC_REDIRECT_URL=/redirect-uri
      - OIDC_CRYPTO_PASSPHRASE=netdata
      - PROXY_TARGET_URL=http://netdata:19999/

networks:
    web:
        external: true
    internal:

volumes:
    db:
